<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Домашняя страница{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8nRABdWfzeuEtzCVVVRfFcxOdcggrKIBARISUCgOWpu4BBx4KWJEHzKyZHnA" crossorigin="anonymous">
</head>
<body class="bg-light">
    <header class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand">Логотип</a>
        </div>
    </header>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmYmxbgkOGReqxvmMuBkKTndrd+yWUud71hfBrRhA+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-CkuWTqMKOKLBS1+quFuxdwcmRL/gUQJEn5VM+HksHLD/QgyE/bgDAIfbnJVqOyg==" crossorigin="anonymous"></script>
</body>
</html>