name: my check

on:
  - push
  - pull_request

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Python & uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          source ~/.cargo/env
          uv sync
      
      - name: Lint with ruff
        run: uvx ruff check .
